<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Viberr{% endblock %}</title>
    <!-- loads the path to your static file -->
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy" type="text/css">
    <!-- whenever we want to update the bootstrap file we put this command of css file after the file upload-->
    <link rel="stylesheet" type="text/css" href ="{% static 'music/style.css' %}" />
    <!--javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
       <div class="container-fluid">

           <!--Header-->
           <div class = "navbar-header">
              <button type = "button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>

              </button>
              <a class="navbar-brand" href="{% url 'music:index' %}">Musique</a>
           </div>

           <!--      Items      -->
           <div class="collapse navbar-collapse" id="topNavBar">

                 <!--1 to the left side of the navigation bar-->
                 <ul class="nav navbar-nav">
                     <li class="active">
                         <a href = "{% url 'music:index' %}">
                             <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; My-Albums
                         </a>
                     </li>
                     <li class="">
                         <a href = "#">
                             <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; My-Songs
                         </a>
                     </li>
                 </ul>

                 <!-- Search functionality -->
                 <form class="navbar-form navbar-left" role="search" method="get" action = "#">
                     <div class="form-group">
                         <input type="text" class="form-control" name="q" value="">
                     </div>
                     <button type="submit" class="btn btn-default">Search</button>
                 </form>


                 <!--3 to the right side of the navigation bar-->
                 <ul class = "nav navbar-nav navbar-right">
                     <li class="">
                         <a href = "{% url 'music:album-add' %}">
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Albums
                         </a>
                     </li>
                     <li class="">
                         <a href = "#">
                              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                         </a>
                     </li>
                 </ul>

           </div>


       </div>
    </nav>
{% block body %}
{% endblock %}
</body>
</html>